mixin storeForm(store = {})
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(name="name" type="text")
    label(for="description") Description
    textarea(name="description")
    - const choises=['WiFi', 'Vegetarian', 'Family Friendly', 'Open Late', 'Licenced']
    ul.tags
      each choice in choises
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")
